.header {
  width: 100%;
  height: 60px;
  padding: 15px;
  display: flex;
  align-items: center;
}
.header_version {
  display: flex;
  align-items: center;
  margin-left: 8px;
  color: #a3a3a3;
  font-size: 15px;
  font-weight: 600;
}

.login {
  margin-left: auto;
}

.login_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.login_modal {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 250px;
  max-height: 80vh;
  overflow: auto;
  background-color: white;
  color: black;
  padding: 2rem 0rem 2rem 0rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_modal .login_input {
  margin-top: 10px;
}
.login_modal .login_pw {
  margin-top: 10px;
}
.login_modal .login_btn {
  margin-top: 20px;
  background-color: #b532b5;
  color: white;
  font-size: 16px;
  height: 32px;
  border: none;
  border-radius: 5px;
}

.leftPanel {
  width: 100%;
  height: 100%;
}

.layer_box {
  width: 100%;
  height: 100px;
  padding: 7%;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.layer_box .layer_title {
  font-size: 17px;
  font-weight: 600;
}
.layer_box .layer_address {
  font-size: 15px;
  margin-top: 14px;
}

.orthoPhotoBox {
  position: absolute;
  top: 91%;
  left: 2%;
}
.orthoPhotoBox button {
  background-color: #b532b5;
  color: white;
  font-size: 18px;
}

.container {
  width: 100%;
  height: 100%;
}

.systemContainer {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(222, 222, 222);
}
.systemContainer .leftPanelContainer {
  display: flex;
  flex-direction: row;
  width: 413px;
  height: 100%;
}
.systemContainer .leftPanelContainer .leftPanelTab {
  width: 63px;
  height: 100%;
  border: 1px solid rgb(222, 222, 222);
}
.systemContainer .leftPanelContainer .leftPanelMain {
  width: 350px;
  height: 100%;
  border: 1px solid rgb(222, 222, 222);
}
.systemContainer .map {
  width: calc(100% - 413px);
  height: 100%;
  background-color: yellowgreen;
  position: relative;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/*# sourceMappingURL=main.css.map */
