.header {
  width: 100%;
  height: 60px;
  padding: 15px;
  display: flex;
  align-items: center;
}
.header_version {
  display: flex;
  align-items: center;
  margin-left: 8px;
  color: #a3a3a3;
  font-size: 15px;
  font-weight: 600;
}

.login {
  margin-left: auto;
}

.login_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.login_modal {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 250px;
  max-height: 80vh;
  overflow: auto;
  background-color: white;
  color: black;
  padding: 2rem 0rem 2rem 0rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_modal .login_input {
  margin-top: 10px;
}
.login_modal .login_pw {
  margin-top: 10px;
}
.login_modal .login_btn {
  margin-top: 20px;
  background-color: #b532b5;
  color: white;
  font-size: 16px;
  height: 32px;
  border: none;
  border-radius: 5px;
}

.leftPanel {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
.leftPanel .btn-wrap {
  display: flex;
  justify-content: center;
}
.leftPanel .upload-btn {
  width: 100px;
  height: 30px;
  background-color: rgb(40, 40, 104);
  color: white;
  border: none;
  cursor: pointer;
}
.leftPanel .item-list {
  height: calc(100% - 60px);
  overflow: hidden;
}
.leftPanel .page {
  font-size: 20px;
}
.leftPanel .page.active {
  color: pink;
}

.layer_box {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgb(216, 216, 216);
  position: relative;
}
.layer_box .layer_title {
  font-size: 17px;
  font-weight: 600;
}
.layer_box .layer_address {
  font-size: 15px;
  margin-top: 10px;
}
.layer_box .layer_btn_box {
  display: flex;
  margin-top: 10px;
}
.layer_box .layer_btn_box .layer_btn {
  width: 100px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.layer_box .progressbar {
  margin-top: 10px;
}

.layer_box:hover .menubar {
  opacity: 1;
}

/* menubar */
.menubar,
.menubar.active {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0%, -50%);
  background: url(../asset/menubar.svg) no-repeat;
  background-size: 15px;
  width: 28px;
  height: 26px;
  background-position: center;
  border-radius: 3px;
}

.menubar {
  background-color: #ffffff;
  opacity: 0;
}

.menubar.active {
  background-color: #e3e3e3;
  opacity: 1;
}

.menubar:hover {
  background-color: #e3e3e3;
  /* #e3e3e3 */
  /* #a7a7a7 */
  /* #cccccc */
}

.inView-check {
  position: absolute;
  width: 130px;
  height: 105px;
  top: 70px;
  right: 1px;
}

.menubar-wrap,
.menubar-wrap.last {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 130px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 10px 15px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.menubar-wrap.last {
  top: -114px;
  right: 41px;
}

.menubar-btn,
.menubar-btn-last {
  color: #000000;
  font-size: 15px;
  width: 100%;
  height: 35px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.menubar-btn {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menubar-btn:hover,
.menubar-btn-last:hover {
  background-color: #e3e3e3;
}

.orthoPhotoBox {
  position: absolute;
  top: 91%;
  left: 2%;
}
.orthoPhotoBox button {
  background-color: #b532b5;
  color: white;
  font-size: 18px;
}

.container {
  width: 100%;
  height: 100%;
}

.systemContainer {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(222, 222, 222);
}
.systemContainer .leftPanelContainer {
  display: flex;
  flex-direction: row;
  width: 413px;
  height: 100%;
}
.systemContainer .leftPanelContainer .leftPanelTab {
  width: 63px;
  height: 100%;
  border: 1px solid rgb(222, 222, 222);
}
.systemContainer .leftPanelContainer .leftPanelMain {
  width: 350px;
  height: 100%;
  border: 1px solid rgb(222, 222, 222);
}
.systemContainer .map {
  width: calc(100% - 413px);
  height: 100%;
  background-color: yellowgreen;
  position: relative;
}

.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 30%;
  height: 90%;
  overflow: auto;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}

/*# sourceMappingURL=main.css.map */
